.studio-box {
        width: 31%;
        height: calc(100vw * 0.334);
        background: map-get($studio-box, 'section-bg');
        background-image: linear-gradient(to bottom right, transparent 49.8%, #fff, transparent 50.2%);
        position: absolute;
        top: 0;
        left: 0;

        &:before {
            content: '';
            display: block;
            width: 9999px;
            height: 100%;
            background: #ff9b6d;
            position: absolute;
            right: 100%;

            @include media('<1500px') {
                display: none;
            }
        }

        @include media('<tablet') {
            position: relative;
            width: 100%;
            height: inherit;
            padding: rem-size(40px) rem-size(20px);
            display: flex;
        }

        @include media('<phone') {
            padding: rem-size(20px);
        }

        .h1 {
            @include rem-font-size(48px);
            color: map-get($studio-box, 'section-font-color');
            margin-bottom: 0;
            position: absolute;
            bottom: 32%;
            right: 22%;

            @include media('<1400px') {
                @include rem-font-size(40px);
            }

            @include media('<widescreen') {
                @include rem-font-size(35px);
            }

            @include media('<desktop') {
                @include rem-font-size(30px);
                bottom: 27%;
                right: 20%;
            }

            @include media('<tablet') {
                position: relative;
                bottom: 0;
                right: 0;
            }
        }
}