.studio-box {
  width: 32%;
  background: map-get($studio-box, "section-bg") linear-gradient(to bottom right, transparent 49.8%, #fff, transparent 50.2%);
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 9999px;
    height: 100%;
    background: #ff9b6d;
    position: absolute;
    right: 100%;

    @include media("<1500px") {
      display: none;
    }
  }

  @include media("<widescreen") {
    padding: rem-size(22px);
    width: 100%;
    background-image: none;
  }

  @include media("<tablet") {
    padding: rem-size(22px) rem-size(15px);
  }

  .h1 {
    @include rem-font-size(48px);
    color: map-get($studio-box, "section-font-color");
    margin-bottom: 0;
    position: absolute;
    bottom: 32%;
    right: 20%;

    @include media("<1400px") {
      @include rem-font-size(40px);
    }

    @include media("<widescreen") {
      @include rem-font-size(35px);
      position: relative;
      bottom: 0;
      right: 0;
    }

    @include media("<desktop") {
      @include rem-font-size(30px);
    }
  }
}
