.news-box {
    width: 31%;
    height: calc(100vw * 0.334);
    background: map-get($news-box, 'section-bg');
    background-image: linear-gradient(to bottom right, transparent 49.8%, #fff, transparent 50.2%);
    position: absolute;
    top: 0;
    left: 0;

    &:before {
        content: '';
        display: block;
        width: 9999px;
        height: 100%;
        background: #d4edbf;
        position: absolute;
        right: 100%;

        @include media('<1500px') {
            display: none;
        }
    }

    @include media('<widescreen') {
        position: relative;
        width: 100%;
        height: inherit;
        padding: rem-size(40px) rem-size(20px);
        display: flex;
    }

    @include media('<phone') {
        padding: rem-size(20px);
    }

    .h1 {
        @include rem-font-size(48px);
        line-height: rem-size(36px);
        color: map-get($news-box, 'section-font-color');
        margin-bottom: 0;
        position: absolute;
        bottom: 32%;
        right: 22%;

        @include media('<1400px') {
            @include rem-font-size(40px);
        }

        @include media('<widescreen') {
            @include rem-font-size(35px);
            position: relative;
            bottom: 0;
            right: 0;
        }

        @include media('<desktop') {
            @include rem-font-size(30px);
        }
    }
}